.main-container{
    margin: auto;
    width: 50%;
}
.Pfooter{
    display: flex;
    justify-content: space-between;
}
.Printbtn{
    display: flex;
    justify-content:flex-end;
    margin: auto;
    width: 600px;
}

.prime{
    padding-right: 10px;
}
 